body {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #333;
    background-image:url(../img/bg-login.jpg);
    background-repeat:no-repeat;
    background-position:top;
    margin:0px auto;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background: #adadad;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 15px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}